<script> 
  $(function() {
    $( '#movie-title-lookup' ).autocomplete({
      source: function(request, response){
        $.ajax({
          url: '<%= search_movietitle_path %>',
          dataType: "json",
          data: { t: request.term },
          success: function( data ) {
            response( $.map( data, function( item ) {
              return { 
                label: item.label,
                value: item.value,
                poster: item.poster,
                popularity: item.popularity
              }   
            }));
          }
        });
      },
      minLength: 3,
      focus: function(event, ui) {
        $(this).val(ui.item.label);
        return false;
      },
      select: function(event, ui) {
        $('#movie-id').val(ui.item.value);
        $(this).val(ui.item.label);
        $("#movie-lookup-form").submit();
        return false;
      }
    });
  });
</script>
<form action="<%= search_movietitlelookup_path %>" method="get" id="movie-lookup-form">
  <div class="input-group ui-widget">
    <%= text_field_tag :t, params[:t], :class => "form-control", :id => "movie-title-lookup", :placeholder => "Enter a movie title..." %>
    <%= hidden_field_tag :m, params[:m], :id => "movie-id" %>
    <span class="input-group-btn">
      <%= submit_tag "Go!", :class => "btn btn-primary", :name => nil %>
    </span>
  </div>
</form>
