<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag image_path("watchlistlogo.png"), :alt => "WatchList Logo" %></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="navbar-text">
            <div class="row-eq-height">
              <div class="loggedin-grow-text">Signed in as <%= current_user.username %></div>
              <div class="loggedin-button"><%= button_to "Edit settings", edit_user_registration_path, class: "btn btn-default btn-loggedin" %></div>
              <div class="loggedin-button"><%= button_to "Sign out", destroy_user_session_path, class: "btn btn-danger btn-loggedin", method: :delete %></div>
            </div>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Already have an account? <b>Sign in</b> <span class="caret"></span></a>
            <ul id="nav-login" class="dropdown-menu">
              <li>
                <div class="row">
                  <div class="col-md-12">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="form-group">
                        <%= f.email_field :email, :class => "form-control", :placeholder => "Email" %>
                      </div>
                      <div class="form-group">
                        <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
                      </div>
                      
                      <div class="actions">
                        <%= f.submit "Sign in", :class => "btn btn-primary pull-right" %>
                      </div>
                    
                      <% if devise_mapping.rememberable? -%>
                        <div class="field">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                      <% end -%>
                
                    <% end %>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown"><%= link_to raw("No account? <b>Sign up</b>"), new_user_registration_path, class: "dropdown-toggle" %></li>
        <% end %>
      </ul>
    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>
