<div class="container-fluid">
  <div class="jumbotron frontpage" style="background-image: url('<%= image_path "film_negative_jumbotron.jpg" %>'); border-radius:0px;" >
    <div class="row dark-overlay">
      <div class="col-lg-offset-2 col-lg-8">
        <h1>New Movies, New Experiences</h1>
        <p>WatchList is your personal movie recommendation engine. Feed it the title of a movie you loved and discover a whole new world of entertainment you might have missed. New movies, old movies, artsy movies, blockbusters &mdash; WatchList has you covered.</p>
        <h3>What was the last movie you watched and loved?</h3>
        <%= render partial: "shared/movie_title_lookup" %>
      </div>
    </div>
  </div>
</div>
<div class="container main-body">
  <div class="row">
    <div class="col-xs-12 page-title">
      <h2>Popular keywords</h2>
      <p>These are top 100 keywords used to describe movies in our database. Click on a keyword to see recommendations.</p>
    </div>
    <div class="col-xs-12 tag-cloud text-center">
      <% tag_cloud(@tags, %w(tag-cloud1 tag-cloud2 tag-cloud3 tag-cloud4)) do |tag, css_class| %>
        <%= link_to tag.name, recommendation_index_path + "?k=" + tag.id.to_s, :class => css_class %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 page-title">
<% if user_signed_in? && current_user.watchlist != nil && current_user.watchlist.split(",").count > 5 %>
      <h2>Watch something from your WatchList tonight</h2>
    </div>
  </div>
</div>
  <% watchlist = Movie.where(id: current_user.watchlist.split(",")) %>
  <div class="container-fluid">
    <div class="owl-carousel">
      <% watchlist.shuffle[0..9].each do |v| %>
        <div class="item">
          <%= link_to image_tag(v.poster_path, :class => "img-responsive", :alt =>  "#{v.title} #{v.release_date}"), movie_index_path(:m => v.tmdb) %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
      <h2>Have you seen these movies?</h2>
      <%= raw "<p>Sign up above and rate movies to help customize your recommendations</p>" unless user_signed_in? %>
    </div>
  </div>
</div>
<div class="container-fluid">
    <div class="owl-carousel">
      <% @recommendations[0..9].each_with_index do |v,i| %>
        <div>
          <%= link_to image_tag(v[:poster_path], :class => "img-responsive", :alt =>  "#{v[:title]} #{v[:release_date]}"), movie_index_path(:m => v[:tmdb]) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>