<div class="container main-body">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 movie-title-search"> 
      <%= render partial: "shared/movie_title_lookup" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 page-title">
      <h1>Recommendations based on "<%= @original_movie.title %>"</h1>
      <p>Page <%= @page %> of <%= @total_pages %> (Total number of results: <%= @recommendation_ids.count %>)</p>
      <%= render partial: "shared/search_pages", locals: {current_page: @page, lowest_page: @lowest_page, highest_page: @highest_page, total_pages: @total_pages} %>
    </div>
    <div class="col-xs-12">
      <div class="row row-eq-height">
      <% @recommendation_list.each_with_index { |r, i| %>
        <%= render partial: "shared/recommendation_result", locals: {r: r, i: i} %>
      <% } %>
    </div>
    </div>
    <div class="col-xs-12 search-page-title">
      <%= render partial: "shared/search_pages", locals: {current_page: @page, lowest_page: @lowest_page, highest_page: @highest_page, total_pages: @total_pages} %>
    </div>
  </div>
</div>