<!-- Backdrop & Title -->
<% if @movie_details.key?(:backdrop_path) %>
  <div class="container-fluid">
    <div class="jumbotron" style="background-image: url('<%= @movie_details[:backdrop_path] %>'); border-radius:0px;" >
      <div class="row dark-overlay">
<% else %>
  <div class="container main-body">  
    <div class="row">
<% end %>
        <div class="col-xs-12">
          <h1 class="movie-header"><%= @movie_details[:title] %> <span class="text-muted"><%= @movie_details[:original_title] if @movie_details.key?(:original_title) %></span><br><small><%= @movie_details[:tagline] if @movie_details.key?(:tagline)%></small></h1>
        </div>
      </div>
    </div>
<% if @movie_details.key?(:backdrop_path) %></div><% end %>

<!-- Movie details and recommendation form -->
<div class="container main-body">
  <div class="movie-sheet row-eq-height">
    <div class="movie-poster-div text-center">
      <% if @movie_details.key?(:poster_path) %>
        <%= image_tag @movie_details[:poster_path], :class => "img-responsive movie-poster", :alt =>  "#{@movie_details[:title]} (#{@movie_details[:release_date][0..3]})" %>
      <% else %>
        <%= image_tag('noposter.png', :class => "img-responsive") %>
      <% end %>
    </div>
    <div class="movie-details-div">
      <div class="row row-eq-height">
        <div class="movie-details">
          <legend>Release date</legend>
          <div class="content">
            <%= @movie_details.key?(:release_date) && @movie_details[:release_date] != "" && @movie_details[:release_date] != nil ? @movie_details[:release_date] : "Release date data unavailable." %>
          </div>
        </div>
        <div class="movie-details">
          <legend>Certificate</legend>
          <div class="content">
            <%= @movie_details.key?(:certification) && @movie_details[:certification] != "" && @movie_details[:certification] != nil ? @movie_details[:certification] : "Certificate data unavailable." %>
          </div>
        </div>
        <div class="movie-details">
          <legend>Runtime</legend>
          <div class="content">
            <%= @movie_details.key?(:runtime)  && @movie_details[:runtime] != "" && @movie_details[:runtime] != nil ? @movie_details[:runtime].to_s + " minutes" : "Runtime data unavailable." %>
          </div>
        </div>
        <div class="movie-details">
          <legend>Country</legend>
          <div class="content">
            <%= @movie_details.key?(:country) ? @movie_details[:country] : "Country data unavailable." %>
          </div>
        </div>
        <div class="movie-details">
          <legend>Language</legend>
          <div class="content">
            <%= @movie_details.key?(:original_language) ? ISO_639.find(@movie_details[:original_language]).english_name : "Language data unavailable." %>
          </div>
        </div>
        <div class="movie-details">
          <legend>Awards</legend>
          <div class="content">
            <%= @movie_details.key?(:awards) ? @movie_details[:awards] : "Awards data unavailable." %>
          </div>
        </div>
        <div class="movie-details">
          <legend>Metascore</legend>
          <div class="content">
            <%= @movie_details.key?(:metascore) ? @movie_details[:metascore] : "Metascore unavailable." %>
          </div>
        </div>
        <div class="movie-details">
          <legend>IMDB Rating</legend>
          <div class="content">
            <%= @movie_details.key?(:imdb_rating) ? @movie_details[:imdb_rating] : "IMDB rating unavailable." %>
          </div>
        </div>
      </div>
      <% if @movie_details.key?(:release_date) || @movie_details[:release_date] != nil || @movie_details[:release_date].to_datetime < DateTime.now %>
        <div class="row row-eq-height">
          <div class="movie-details">
            <legend>User Rating</legend>
            <div class="content">
              <% if @movie_details.key?(:num_user_rating) %>
                <div class="row">
                  <div class="col-xs-12">
                    <% if @movie_details[:avg_user_rating] > 1.6 %>
                      <i class="material-icons">sentiment_very_satisfied</i>
                    <% elsif @movie_details[:avg_user_rating] > 1.2 %>
                      <i class="material-icons">sentiment_satisfied</i>
                    <% elsif @movie_details[:avg_user_rating] < 0.8 %>
                      <i class="material-icons">sentiment_dissatisfied</i>
                    <% elsif @movie_details[:avg_user_rating] < 0.4 %>
                      <i class="material-icons">sentiment_very_dissatisfied</i>
                    <% else %>
                      <i class="material-icons">sentiment_neutral</i>
                    <% end %>
                  </div>
                  <div class="col-xs-12">
                    <%= @movie_details[:num_user_rating] + " Ratings" %>
                  </div>
                </div>
              <% else %>
                <%= @movie_details[:avg_user_rating] %>
              <% end %>
            </div>
          </div>
          <div class="movie-details">
            <% if user_signed_in? %>
              <form action="<%= movie_submit_rating_path %>" method="get" name="yourratingform">
                <fieldset>
                  <legend>Your Rating</legend>
                  <div class="row">
                    <div class="col-xs-4 text-center rating-radio">
                      <%= radio_button_tag :r, "2", rating_checked?("2"), onclick: "document.yourratingform.submit();" %><label for="r_2"><i class="material-icons">sentiment_very_satisfied</i></label>
                    </div>
                    <div class="col-xs-4 text-center rating-radio">
                      <%= radio_button_tag :r, "1", rating_checked?("1"), onclick: "document.yourratingform.submit();" %><label for="r_1"><i class="material-icons">sentiment_neutral</i></label>
                    </div>
                    <div class="col-xs-4 text-center rating-radio">
                      <%= radio_button_tag :r, "0", rating_checked?("0"), onclick: "document.yourratingform.submit();" %><label for="r_0"><i class="material-icons">sentiment_very_dissatisfied</i></label>
                    </div>
                  </div>
                  <%= hidden_field_tag :m, params[:m], :id => "movie-id", :value => @movie_details[:tmdb] %>
                </fieldset>
              </form>  
            <% else %>
              <legend>Your Rating</legend>
              <%= link_to "Sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to rate this movie.
            <% end %>
          </div>
          <div class="movie-details">
            <% if user_signed_in? && @user_rating == "" && (current_user.watchlist == nil || !(current_user.watchlist.include?(@movie_details[:id].to_s))) %>
              <form action="<%= movie_add_to_watchlist_path %>" method="get" name="addtowatchlistform">
                <fieldset class="col-xs-12 content-btns">
                  <legend>Watchlist</legend>
                  <%= hidden_field_tag :m, params[:m], :id => "movie-id", :value => @movie_details[:tmdb] %>
                  <%= button_tag type:"submit", class: "btn btn-primary btn-watchlist", name: :id, value: @movie_details[:id] do %>
                    <span class="glyphicon glyphicon-plus"></span> Add to Watchlist
                  <% end %> 
                </fieldset>
              </form>  
            <% elsif @user_rating != "" %>
              <legend>Watchlist</legend>
              You have already seen this movie. 
            <% elsif user_signed_in? && current_user.watchlist.include?(@movie_details[:id].to_s) %>
              <form action="<%= movie_remove_from_watchlist_path %>" method="get" name="removefromwatchlistform">
                <fieldset class="col-xs-12 content-btns">
                  <legend>Watchlist</legend>
                  <%= hidden_field_tag :m, params[:m], :id => "movie-id", :value => @movie_details[:tmdb] %>
                  <%= button_tag type:"submit", class: "btn btn-primary btn-watchlist", name: :id, value: @movie_details[:id] do %>
                    <span class="glyphicon glyphicon-remove"></span> Remove from Watchlist
                  <% end %> 
                </fieldset>
              </form> 
            <% else %>
              <legend>Watchlist</legend>
              <%= link_to "Sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to add this movie to your watchlist.
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-xs-12 movie-details">
          <legend>Synopsis</legend>
          <div class="content">
            <%= @movie_details.key?(:overview) && @movie_details[:overview] != "" ? @movie_details[:overview] : "Synopsis unavailable." %>
          </div>
        </div>
      </div>
      <div class="row row-eq-height">
        <div class="col-xs-12">
          <legend>Cast & Crew</legend>
        </div>
        <div class="movie-details">
          <b>Director</b>
          <div class="content">
            <%= @movie_details.key?(:director) ? @movie_details[:director] : "Director data unavailable." %>
          </div>
        </div>
        <div class="movie-details">
          <b>Writer</b>
          <div class="content">
            <%= @movie_details.key?(:writer) ? @movie_details[:writer] : "Writer data unavailable." %>
          </div>
        </div>
        <div class="movie-details">
          <b>Cast</b>
          <div class="content">
            <%= @movie_details.key?(:cast) ? @movie_details[:cast] : "Cast data unavailable." %>
          </div>
        </div>
      </div>
      <!-- BEGIN GUIDEBOX DATA -->
      <!-- END GUIDEBOX DATA -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 movie-details">
      <div class="col-xs-12 movie-title-search"> 
        <label>Search for a different movie: </label>
        <%= render partial: "shared/movie_title_lookup" %>
      </div>
      <label for="recommendation-filter-form">Or find new recommendations by selecting genres or keywords from <%= @movie_details[:title] %>:</label>
      <form action="<%= recommendation_index_path %>" method="get" id="recommendation-filter-form">
        <fieldset>
          <legend>Genres: </legend>
          <% if @movie_details[:genres] != nil %>
            <% @movie_details[:genres].split(",").each do |v| %>
              <% next unless TMDB_GENRE_LIST.map { |g| g["id"] }.include?(v.to_i) %>
              <label for="checkbox-genres-<%= v.to_s %>"><%= TMDB_GENRE_LIST.select { |g| g["id"] == v.to_i }[0]["name"]%>
                <%= check_box_tag "g[]", v, false, :class => 'checkbox-genres' %>
              </label>
            <% end %>
          <% end %>
        </fieldset>
        <fieldset>
          <legend>Keywords: </legend>
          <% @keyword_list.each do |v| %>
            <label for="checkbox-keywords-<%= v.id %>"><%= v.tag_text %>
              <%= check_box_tag "k[]", v.id, false, :class => 'checkbox-keywords' %>
            </label>
          <% end %>
        </fieldset>
        <%= hidden_field_tag :m, @movie_details[:tmdb], :id => "movie-id" %>
        <%= submit_tag "Get new recommendations", :class => "btn btn-primary", :name => nil %>
      </form>
    </div>
  </div>
  <div class="col-xs-12 movie details">
    <h4>Recommendations based on <%= @movie_details[:title] %>:</h4>
  </div>
</div>
<div class="container-fluid">
  <div class="owl-carousel">
    <% @recommendations.each do |v,i| %>
      <div>
        <%= link_to image_tag(v[:poster_path], :class => "img-responsive", :alt =>  "#{v[:title]} #{v[:release_date]}"), movie_index_path(:m => v[:tmdb]) %>
      </div>
    <% end %>
  </div>
</div>
